# Python アプリケーションディレクトリ内の除外対象
/python/in/
/python/out/
/python/__pycache__/
/python/*.pyc
/python/*.pyo
/python/*.pyd
/python/.Python
/python/env/
/python/venv/
/python/.env*
/python/.pytest_cache/

# Dev Container キャッシュなど (任意)
.devcontainer/.cache/
.devcontainer/.history*/

# OS specific
.DS_Store
Thumbs.db